<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.tangrun.mschat">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <activity android:name="com.tangrun.mschat.ui.UserSelector"/>
        <activity
                android:name="com.tangrun.mschat.ui.CallRoomActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/CallActivity"/>

        <service
                android:name="com.tangrun.mschat.ui.CallWindowService"
                android:exported="false"/>
        <receiver
                android:name="com.tangrun.mschat.ui.CallReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <service
                android:name=".ui.CallNotificationService"
                android:foregroundServiceType="phoneCall"
                android:exported="false"/>
    </application>

</manifest>