<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mschat">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity android:name="com.tangrun.mschat.ui.UserSelector"></activity>
        <activity
            android:name="com.tangrun.mschat.ui.CallRoomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <service android:name="com.tangrun.mschat.ui.CallWindowService" android:exported="false" />
    </application>

</manifest>